.signupPageContainer {
  padding: var(--spacing-md);
  max-width: 400px;
  margin: var(--spacing-xxl) auto;
  border: 1px solid var(--border-medium);
  border-radius: 8px;
  box-sizing: border-box; /* Ensure padding is included in element's total width */
}

.signupPageContainer h2 {
  text-align: center;
  margin-bottom: var(--spacing-lg);
  color: var(--text-dark);
}

.formGroup {
  margin-bottom: var(--spacing-md);
}

.formGroup label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.formGroup input[type="email"],
.formGroup input[type="password"],
.formGroup input[type="text"] {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid var(--border-medium);
  border-radius: 4px;
}

.passwordWrapper {
    position: relative;
}

.togglePassword {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #666;
}

.termsCheckbox {
  display: flex;
  align-items: center;
  margin-bottom: var(--spacing-md);
}

.termsCheckbox input[type="checkbox"] {
  margin-right: var(--spacing-sm);
}

.termsCheckbox a {
  color: var(--button-primary);
  text-decoration: none;
}

.termsCheckbox a:hover {
  text-decoration: underline;
}

.submitButton {
  width: 100%;
  padding: 10px;
  background-color: var(--button-success);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: var(--font-size-md);
}

.submitButton:hover {
  background-color: #218838;
}

.successMessage {
  color: var(--button-success);
  margin-top: var(--spacing-md);
  text-align: center;
}

.errorMessage {
  color: var(--button-danger);
  margin-top: var(--spacing-md);
  text-align: center;
}

.loginLink {
  margin-top: var(--spacing-md);
  text-align: center;
}

.loginLink a {
  color: var(--button-primary);
  text-decoration: none;
}

.loginLink a:hover {
  text-decoration: underline;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
  .signupPageContainer {
    max-width: 90%; /* Adjust width for smaller screens */
    margin: var(--spacing-xl) auto;
    padding: var(--spacing-sm);
  }

  .signupPageContainer h2 {
    font-size: var(--font-size-h3);
  }
}
